<?xml version="1.0"?>
<launch>
	<arg name="model" />
	<arg name="gui" default="False" />
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="arm_state_publisher_tutorials" pkg="robot_description" type="arm_state_publisher_tutorials" />
	<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/arm.rviz" />
</launch>
