<?xml version="1.0" ?>

<robot name="sia10f" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find sia10f_description)/urdf/sia10f_macro.xacro" />
	<xacro:motoman_sia10f prefix=""/>
	
	<link name="world"/>

  <link name="table">
    <visual>
      <geometry>
        <box size="1 1 0.05"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.6 0.6 0.05"/>
      </geometry>
    </collision>
  </link>

  <link name="camera_frame"/>

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </joint>

  <joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="camera_frame"/>
    <origin xyz="0 0 1.0" rpy="0 1.571 0"/>
  </joint>
  
  <joint name="table_to_robot" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
	
</robot>